{% extends "base.html" %}
{% block content %}
<!-- TOP MENU NAVIGATION -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<a class="brand pull-left" href="#">
				Система отопления
				</a>

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						{% if g.user.is_authenticated %}
        				<li><a href="/logout">Выйти</a></li>
        				{% endif %}
					</ul>
					<ul id="nav-list" class="nav pull-right">
						<li><a href="#home">Главная</a></li>
						<li><a href="#settings">Настройки</a></li>
						<li><a href="#updates">График работы</a></li>
						<li><a href="#screenshots">Сообщения об ошибках</a></li>
						<li><a href="#contact">Логи</a></li>
					</ul>

				</div>

			</div>
		</div>
	</div>
   <!-- MAIN CONTENT -->
	<div class="container content container-fluid" id="home">



		<!-- HOME -->
		<div class="row-fluid">

			<!-- PHONES IMAGE FOR DESKTOP MEDIA QUERY -->
			<div class="span5 visible-desktop">
				<img src="static/img/phones.png">
			</div>

			<!-- APP DETAILS -->
			<div class="span7">

				<!-- ICON -->
				<div class="visible-desktop" id="icon">
					<img src="static/img/app_icon.png" />
				</div>

				<!-- APP NAME -->
				<div id="app-name">
					<h1>FlexApp</h1>
				</div>

				<!-- VERSION -->
				<div id="version">
					<span class="version-top label label-inverse">Version 1.0</span>
				</div>

				<!-- TAGLINE -->
				<div id="tagline">
                <h1>Hi, {{user.nickname}}!</h1>
                <hr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
				</div>

				<!-- PHONES IMAGE FOR TABLET MEDIA QUERY -->
				<div class="hidden-desktop" id="phones">
					<img src="static/img/phones.png">
				</div>

				<!-- DESCRIPTION -->
				<div id="description">
					FlexApp is a free, fully responsive website template for marketing your mobile application. The design uses CSS3 to scale the content proportionally to whatever device is being used. Give it a try by resizing your browser!
				</div>

				<!-- FEATURES -->
				<ul id="features">
					<li>Fully Responsive HTML/CSS3 Template</li>
					<li>Built on Bootstrap by Twitter</li>
					<li>Images and Photoshop Files Included</li>
					<li>Completely Free!</li>
				</ul>

				<!-- DOWNLOAD & REQUIREMENT BOX -->
				<div class="download-box">
					<a href="#"><img src="static/img/available-on-the-app-store.png"></a>
				</div>
				<div class="download-box">
					<a href="#"><img src="static/img/android_app_on_play_logo_large.png"></a>
				</div>
				<div class="download-box">
					<strong>Requirements:</strong><br>
					Compatible with iPhone and iPod touch. Requires iPhone OS 2.2 or later. WiFi, Edge, or 3G network connection sometimes required.
				</div>
				<div class="download-box">
					<strong>Requirements:</strong><br>
					Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.
				</div>

			</div>
		</div>



		<!-- Настройки & График работы -->
		<div class="row-fluid" id="settings">

			<div class="span6 settings">
				<h2 class="page-title" id="scroll_up">
					Настройки
					<a href="#home" class="arrow-top">
					<img src="static/img/arrow-top.png">
					</a>
				</h2>
                <h3>Суточное программирование</h3>
				<form id="emit" method="POST" action='#'>
					<label for="selectDay">Выбрать день недели</label>
					<select name="daysOfTheWeek" id="selectDay">
						<option value="monday" selected>Понедельник</option>
						<option value="tuesday">Вторник</option>
						<option value="wednesday">Среда</option>
						<option value="thursday">Четверг</option>
						<option value="friday">Пятница</option>
						<option value="saturday">Суббота</option>
						<option value="sunday">Воскресенье</option>
					</select><br>
                    <label for="set_time1">Установить временной интервал с:</label>
					<input type="time" name="time_data" id="set_time1" placeholder="set time"><br>
					<span id="log_err"></span>
                    <label for="set_time2">по:</label>
					<input type="time" name="time_data" id="set_time2" placeholder="set time"><br>
                    <label for="slider1">Установить температуру: <output for="slider1" id="volume"></output>°C:</label>
                    <input id="slider1" type="range" min="16" max="25" step="0.5" oninput="outputUpdate(value)"><br>
					<input type="submit" value="Создать расписание">
   				 </form>






			</div>

			<div class="span6 updates" id="updates">
				<h2 class="page-title" id="scroll_up">
					График работы
					<a href="#home" class="arrow-top">
					<img src="static/img/arrow-top.png">
					</a>
				</h2>


				<h2>Receive namespace test1:</h2>
    				<div id="log_test1"></div>

				<h3 class="version">Version 1.1</h3>
				<span class="release-date">Released on January 28th, 2012</span>
				<ul>
					<li><span class="label new">NEW</span>Facebook & Twitter Integration</li>
					<li><span class="label fix">FIX</span>Various Bug Fixes</li>
					<li><span class="label new">NEW</span>Graphics for Retina Display</li>
				</ul>
				<hr>

				<h3 class="version">Version 1.0</h3>
				<span class="release-date">Released on January 10th, 2012</span>
				<ul>
					<li><span class="label label-info">NEW</span>Initial Release</li>
				</ul>

			</div>

		</div>



		<!-- SCREENSHOTS -->
		<div class="row-fluid" id="screenshots">

			<h2 class="page-title" id="scroll_up">
					Сообщения об ошибках
					<a href="#home" class="arrow-top">
					<img src="static/img/arrow-top.png">
					</a>
				</h2>

			<!-- SCREENSHOT IMAGES ROW 1-->
			<ul class="thumbnails">
				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>
			</ul>

			<!-- SCREENSHOT IMAGES ROW 2-->
			<ul class="thumbnails">
				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>

				<li class="span3">
					<a href="static/img/screenshot.jpg" rel="gallery" class="thumbnail">
					<img src="static/img/screenshot.jpg" alt="">
					</a>
				</li>
			</ul>
		</div>



		<!-- CONTACT -->
		<div class="row-fluid" id="contact">

			<h2 class="page-title" id="scroll_up">
					Логи
					<a href="#home" class="arrow-top">
					<img src="static/img/arrow-top.png">
					</a>
				</h2>

			<!-- CONTACT INFO -->
			<div class="span4" id="contact-info">
				<h3>Contact Us</h3>
				<p>FlexApp is free and thus unfortunately we cannot provide basic support for it. We simply don't have the time to answer everyone's questions.</p>
				<p>However, you may contact us about general business inquiries or to report bugs in the template!<p>
				<p><a href="mailto:contact@trippoinc.com">contact@trippoinc.com</a></p>
			</div>

			<!-- CONTACT FORM -->
			<div class="span7" id="contact-form">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input class="input-xlarge" type="text" id="name" placeholder="John Doe">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input class="input-xlarge" type="text" id="email" placeholder="john@gmail.com">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="subject">Subject</label>
							<div class="controls">
								<input class="input-xlarge" type="text" id="subject" placeholder="General Inquiry">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="message">Message</label>
							<div class="controls">
								<textarea class="input-xlarge" rows="3" id="message" placeholder="Your message..."></textarea>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">SEND</button>
						</div>
					</fieldset>
				</form>
			</div>

		</div>

	</div>

{% endblock %}


