<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- TOP MENU NAVIGATION -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<a class="brand pull-left" href="#">
				Система отопления
				</a>

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="{{ url_for('registration') }}">Регистрация</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
 <!-- MAIN CONTENT -->
	<div class="container content container-fluid" id="home">
        <div class="row-fluid">
            <form action="" method="post" name="login">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <h1>Вход</h1>
                            {{form.hidden_tag()}}
                            Введите свой логин:<br>
                            {{form.user(size=20)}}<br>
                            {% for error in form.errors.user %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            Введите свой пароль:<br>
                            {{form.password(size=20)}}<br>
                            {% for error in form.errors.password %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            {{form.remember_me}} Запомнить
                        </div>
                        <div class="controls">
                            <input type="submit" class="btn btn-primary" value="Войти">
                        </div>
                        <hr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }} </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
