<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- TOP MENU NAVIGATION -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<a class="brand pull-left" href="#">
				FlexApp
				</a>

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse collapse">
					<ul id="nav-list" class="nav pull-right">
						<li><a href="/login">Login</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
 <!-- MAIN CONTENT -->
	<div class="container content container-fluid" id="home">
        <div class="row-fluid">
            <form action="" method="post" name="registration">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <h1>Registration</h1>
                            {{form.hidden_tag()}}
                            Введите свой логин:<br>
                            {{form.user(size=20)}}<br>
                            {% for error in form.errors.user %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            {{form.hidden_tag()}}
                            Введите свой Email:<br>
                            {{form.email(size=20)}}<br>
                            {% for error in form.errors.email %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            Введите свой пароль:<br>
                            {{form.password(size=20)}}<br>
                            {% for error in form.errors.password %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            Повторите пароль:<br>
                            {{form.password_repeat(size=20)}}<br>
                            {% for error in form.errors.password_repeat %}
                            <span style="color: red;">[{{error}}]</span>
                            {% endfor %}<br>
                        </div>
                        <div class="controls">
                            <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}